.header {
	z-index: 1;

	display: grid;

	align-items: center;

	padding: 10px 0;

	color: var(--white);

	grid-template-columns: minmax(auto, 176px) 132px auto 630px minmax(auto, 176px);

	grid-template-areas: ". logo . buttons .";
}

.mobile {
	display: none;
}

.logo {
	display: grid;
	grid-area: logo;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(2, auto);
	grid-template-areas:
		". icon ."
		"text text text";

	justify-content: center;
	gap: 13px 0;
}

.logoIcon {
	grid-area: icon;
}

.logoText {
	grid-area: text;
}

.buttons {
	display: grid;
	grid-area: buttons;
	grid-template-columns: repeat(6, auto);
	gap: 25px;
}

.lastButton {
	margin-left: 20px;
	padding: 5px 24px;
}

.text {
	grid-area: text;
}

@media (max-width: 1307px) {
	.header {
		grid-template-columns: 132px auto 630px;
		grid-template-areas: "logo . buttons";
	}

	.logo {
		margin-left: 60px;
	}
}

@media (max-width: 800px) {
	.header {
		grid-template-columns: 132px auto 500px;
		grid-template-areas: "logo . mobile";
	}

	.logo {
		margin-left: 60px;
	}

	.buttons {
		display: none;
		grid-area: none;
	}

	.mobile {
		display: grid;
		grid-area: mobile;
		grid-template-columns: 232px auto 100px 75px 20px;
		grid-template-areas: "phone . menu burger .";

		align-items: center;
	}

	.phone {
		grid-area: phone;
	}

	.menu {
		grid-area: menu;
	}

	.burger {
		grid-area: burger;

	}
}

@media (max-width: 737px) {
	.header {
		grid-template-columns: 132px auto 400px;
	}

	.mobile {
		grid-template-columns: 166px auto 60px 92px 20px;
	}

	.phone {
		font-size: 20px !important;
		font-weight: 300 !important;
		line-height: 24px !important;
	}

	.menu {
		font-size: 20px !important;
		font-weight: 300 !important;
		line-height: 24px !important;
	}
}


@media (max-width: 575px) {
	.header {
		grid-template-columns: 132px auto 180px;
		grid-template-areas: "logo . mobile";
	}

	.mobile {
		display: grid;
		grid-area: mobile;
		grid-template-columns: 80px 80px 20px;
		grid-template-areas: "menu burger .";

		align-items: center;
	}

	.phone {
		display: none;
	}
}
