.feedbackBlock {
	position: relative;

	z-index: 1;

	display: grid;

	margin-top: 70px;
	grid-template-columns: auto 648px 550px auto;
	grid-template-rows: 125px 70px 190px 50px auto;

	grid-template-areas:
		". header logo ."
		". text logo ."
		". feedback logo ."
		". personal logo ."
		". button logo .";
	gap: 35px;
}

.header {
	grid-area: header;

	margin: 0;
}

.text {
	grid-area: text;

	width: 578px;
}

.feedback {
	display: grid;
	grid-area: feedback;

	grid-template-columns: 250px 250px;
	grid-template-rows: repeat(4, auto) minmax(35px, 75px) auto;

	grid-template-areas:
		"name phone"
		"nameError phoneError"
		"mail mail"
		"mailError mailError"
		"message message"
		"messageError messageError";

	gap: 0 60px;
}

.name {
	color: #383B50B2;
	border: 0;
	border-bottom: 1px solid #383B50;
	box-shadow: inset 20px 20px 20px 20px #FFF;

	font-family: var(--font-family);
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
	grid-area: name;
}

.phone {
	color: #383B50B2;
	border: 0;
	border-bottom: 1px solid #383B50;
	box-shadow: inset 20px 20px 20px 20px #FFF;

	font-family: var(--font-family);
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
	grid-area: phone;
}

.mail {
	color: #383B50B2;
	border: 0;
	border-bottom: 1px solid #383B50;
	box-shadow: inset 20px 20px 20px 20px #FFF;

	font-family: var(--font-family);
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
	grid-area: mail;
}

.message {
	min-width: 130px;
	max-width: 560px;
	min-height: 30px;
	max-height: 75px;

	color: #383B50B2;
	border: 0;
	border-bottom: 1px solid #383B50;

	font-family: var(--font-family);
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
	grid-area: message;
}

.name:focus,
.phone:focus,
.mail:focus,
.message:focus {
	outline: none;
}

.nameError {
	grid-area: nameError;

	color: red;
	font-weight: 300;

	font-size: 15px;
	margin-bottom: 5px;
}

.phoneError {
	grid-area: phoneError;

	color: red;
	font-weight: 300;

	font-size: 15px;
	margin-bottom: 5px;
}

.mailError {
	grid-area: mailError;

	color: red;
	font-weight: 300;

	font-size: 15px;
	margin-bottom: 5px;
}

.messageError {
	grid-area: messageError;

	color: red;
	font-weight: 300;

	font-size: 15px;
}

.personalError {
	grid-area: personalError;
	color: red;
	font-weight: 300;

	font-size: 15px;
}

.personal {
	display: grid;
	align-items: center;
	justify-content: space-between;

	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(2, auto);

	grid-template-areas:
		"checkbox label link"
		"personalError personalError personalError";

	width: 570px;

	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
	grid-area: personal;
	gap: 5px 0;
}

.label {
	grid-area: label;
}

.link {
	grid-area: link;
	text-decoration: underline;
}

.button {
	grid-area: button;

	width: 184px;
	height: 60px;
	z-index: 1;
}

.logo {
	grid-area: logo;

	position: absolute;
	top: 140px;
	left: -70px;
}

.checkbox {
	position: absolute;
	z-index: -1;

	opacity: 0;
}

.checkbox + label {
	display: inline-flex;
	align-items: center;

	user-select: none;
}

.checkbox + label::before {
	display: inline-block;
	flex-grow: 0;
	flex-shrink: 0;

	width: 1em;
	height: 1em;
	margin-right: 0.5em;

	content: "";

	border: 1px solid #ADB5BD;
	border-radius: 0.25em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

.checkbox:checked + label::before {
	border-color: #0B76EF;
	background-color: #0B76EF;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.checkbox:not(:disabled):not(:checked) + label:hover::before {
	border-color: #B3D7FF;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.checkbox:not(:disabled):active + label::before {
	border-color: #B3D7FF;
	background-color: #B3D7FF;
}

/* стили для чекбокса, находящегося в фокусе */
.checkbox:focus + label::before {
	box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.checkbox:focus:not(:checked) + label::before {
	border-color: #80BDFF;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox:disabled + label::before {
	background-color: #E9ECEF;
}

@media (max-width: 1390px) {
	.feedbackBlock {
		grid-template-columns: auto 648px auto;
		grid-template-rows: 125px 70px 190px 50px auto 350px;

		grid-template-areas:
		". header ."
		". text ."
		". feedback ."
		". personal ."
		". button ."
		". logo .";
		gap: 35px;
	}

	.logo {
		top: -100px;
	}

	.feedback {
		grid-template-columns: 280px 280px;
	}

	.message {
		max-width: 620px;
	}
}

@media (max-width: 960px) {

	.feedbackBlock {
		grid-template-columns: auto 335px auto;
		grid-template-rows: 125px 70px 260px 80px auto 200px;
		gap: 15px;
	}

	.header {
		font-size: 45px;
		line-height: 45px;
		text-align: center;
	}

	.text {
		font-size: 20px;
		line-height: 24px;
		width: auto;
		text-align: center;
	}

	.feedback {
		display: grid;
		grid-area: feedback;

		grid-template-columns: 360px;
		grid-template-rows: repeat(6, auto) minmax(35px, 75px) auto;

		grid-template-areas:
		"name"
		"nameError"
		"phone"
		"phoneError"
		"mail"
		"mailError"
		"message"
		"messageError";

		gap: 0 60px;
	}

	.message {
		max-width: 360px;
	}

	.personal {
		grid-template-columns: auto;
		grid-template-rows: repeat(3, auto);

		grid-template-areas:
		"label"
		"link"
		"personalError";

		width: 400px;
	}

	.link {
		margin-left: 30px;
	}

	.personalError {
		margin-left: 30px;
	}

	.logo {
		top: -40px;
		width: 340px;
		left: 20px;
	}

}

@media (max-width: 485px) {

	.feedback {
		grid-template-columns: 320px;
	}

	.name, .phone, .mail, .message {
		font-size: 16px;
	}

	.personal {
		width: 340px;
		font-size: 16px;
	}

	.logo {
		width: 330px;
		left: 0;
	}

	.message {
		max-width: 320px;
	}

}
