html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: var(--white);

	font-family: var(--font-family);
}

li {
	list-style-type: none;
}

body h1,
h2,
h3 {
	font-family: var(--font-familyH);
	font-weight: 500;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #383B50;
	--grey-light: #EBEBEB;
	--white: white;
	--primary: #FFC300;
	--primary-hover: #6344DF;
	--red: #FC836D;
	--green: #1DC47E;
	--green-light: #C8F8E4;
	--back: #E5E5E5;
	--font-family: "Montserrat", sans-serif;
	--font-familyH: "Cormorant", serif;
	--single-red: #DE0000;
	--single-grey: #B3C0D9;
	--grey-dark: #787D85;
	--grey-line: #D7D6D6;
	--blue: #F9F8FF;
	--grey-inp: #A4A4A4;
}
