.sliderBlock {
    display: grid;
    grid-template-columns: auto 1280px auto;
    grid-template-rows: repeat(4, auto);

    grid-template-areas:
        ". header ."
		". text ."
        ". slider ."
        ". dots .";

    z-index: 1;
    margin-top: 135px;
    gap: 25px;
    margin-left: 75px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: slider;
    margin-left: -80px;
}

.sliderDots {
    text-align: center;
    grid-area: dots;
    margin-bottom: 50px;
}

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #ffe773;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotActive {
    background-color: var(--primary);
    height: 15px;
    width: 15px;
}

.header {
    grid-area: header;
}

.text {
    grid-area: text;
    width: 1075px;
}

.sliderHeader {
    margin-top: 0;
    margin-bottom: 10px;
}

.sliderText {
    margin-bottom: 40px;
    width: 327px;
    height: 50px;
}

.imgs {
    overflow: hidden;
    flex-basis: 1161px;
}

.imgs ul {
    display: flex;
    padding: 0;
    transition: 0.5s ease-out;
}

.imgs ul li {
    margin: 0 20px;
}

.imgs ul li img {
    width: 347px;
    height: 282px;
    object-fit: contain;
    user-select: none;
}

.hidden {
    visibility: hidden;
}

.btnLeft {
    margin-right: 20px;
}

.btnRight {
    margin-left: 20px;
}

@media (max-width: 1423px) {
    .sliderBlock {
        grid-template-columns: auto 893px auto;
        margin-left: 0;
    }

    .slider {
        margin-left: 0;
    }

    .imgs {
        overflow: hidden;
        flex-basis: 774px;
    }

    .text {
        width: auto;
    }
}

@media (max-width: 1353px) {
    .sliderBlock {
        margin-top: 30px;
    }
}

@media (max-width: 960px) {
    .sliderBlock {
        grid-template-columns: auto 506px auto;
        margin-left: 0;
    }

    .imgs {
        overflow: hidden;
        flex-basis: 387px;
    }

    .header {
        text-align: center;
    }

    .text {
        text-align: center;
    }

    .sliderHeader {
        text-align: center;
    }

    .sliderText {
        text-align: center;
    }

    .button {
        margin: 0 auto;
    }
}

@media (max-width: 575px) {
    .sliderBlock {
        grid-template-columns: auto 319px auto;
        margin-left: 0;
    }

    .imgs {
        overflow: hidden;
        flex-basis: 200px;
    }

    .imgs ul li img {
        width: 200px;
        height: 200px;
    }

    .imgs ul li {
        margin: 0;
    }

    .sliderHeader {
        height: 68px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .sliderText {
        width: 200px;
        height: 140px;
        margin: 0;
    }

    .text {
        font-size: 21px;
        line-height: 30px;
    }

    .header {
        font-size: 50px;
        line-height: 50px;
    }
}
