.sliderBlock {
    display: grid;
    grid-template-columns: auto 1280px auto;
    grid-template-rows: repeat(3, auto);

    grid-template-areas:
        ". header ."
		". text ."
        ". slider .";

    z-index: 1;
    margin-top: 135px;
    gap: 25px;
    margin-left: 75px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: slider;
    margin-left: -80px;
}

.header {
    grid-area: header;
}

.text {
    grid-area: text;
    width: 1075px;
}

.sliderHeader {
    margin-top: 0;
    margin-bottom: 10px;
}

.sliderText {
    margin-bottom: 40px;
    width: 327px;
    height: 50px;
}

.imgs {
    overflow: hidden;
    flex-basis: 1161px;
}

.imgs ul {
    display: flex;
    padding: 0;
    transition: 0.5s ease-out;
}

.imgs ul li {
    margin: 0 20px;
}

.imgs ul li img {
    width: 347px;
    height: 282px;
    object-fit: contain;
    user-select: none;
}

.hidden {
    visibility: hidden;
}

.btnLeft {
    margin-right: 20px;
}

.btnRight {
    margin-left: 20px;
}
